body{
    font-size: 20px;
}
#hero{
    height: 300px;
    background-color: #236E8C;
    color: white;
    font-size: 35px;
}
#hero div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#breadcrumb {
    padding: 10px 16px;
    list-style: none;
    text-align: center;
  }
  #breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  #breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  #breadcrumb li a {
    color: #236E8C;
    text-decoration: none;
  }
  #breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

#members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    border-radius: 5px;
    margin: 0 1rem 1rem;
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
    max-width: 150px;
    max-height: 150px;
  }
  
  .container {
    padding: 2px 16px;
  }

  .image{
      background-color: #236E8C;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }
  .card a {
      color: #F25E5E;
  }